.page {
  height: 100svh;
  width: 100svw;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: all;
  z-index: 10;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  width: min(calc(100svw - 40px), 420px);
}

.cardContent {
  align-items: center;
  text-align: center;
  display: grid;
  gap: 20px;
}

.themeSwitch {
  position: absolute;
  top: 20px;
  left: 20px;
}

.unitSystemSwitch {
  position: absolute;
  top: 50px;
  left: 20px;
}

.settingsButton {
  position: absolute;
  top: 20px;
  right: 20px;
}
