.container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.containerMobile {
  position: absolute;
  bottom: -5px;
  left: 0px;
}

.activityCard {
  width: 350px;
}

.activityCardMobile {
  width: 100svw;
}

.header {
  padding: 15px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.title {
  white-space: normal;
  word-break: break-word;
}

.subtitle {
  font-size: 0.7em;
  color: #666;
  white-space: normal;
  word-break: break-word;
}

.headerButtons {
  display: flex;
  position: absolute;
  right: 24px;
  bottom: 70px;
  gap: 12px;
}

.activityButtons {
  display: flex;
  position: absolute;
  right: 24px;
  bottom: 24px;
  gap: 12px;
}
