.activityCard {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.activityCardMobile {
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100svw;
}

.header {
  padding: 15px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  font-size: 0.7em;
  color: #666;
}

.subtitleMobile {
  width: calc(100svw - 100px);
  white-space: normal;
  word-break: break-word;
}
