.checkboxes {
  display: grid;
  gap: 1px;
}

.colourPicker {
  float: right;
  pointer-events: none;
}

.header {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.image {
  margin-left: auto;
}

.footer {
  display: flex;
  align-items: center;
}

.lastRefreshed {
  color: #888;
  margin-right: auto;
}

.githubButton {
  width: 20px;
}

.logoutButton {
  margin-left: auto;
}
